mixin space
  br
  br

mixin navbar
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/") Interact

      ul.nav.navbar-nav.navbar-right
        li
          a(href="/") Home
        li
          a(href="/guides.html") Guides
        li
          a(href="/docs.html") Docs
        li
          a(href="") Github
          
        
